  .kart_yazi{
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: 1px solid white;
}

.yazi_17{
	font-size: 17px;
}

.ortala{
	text-align: center;
}
/* Empty. Add your own CSS if you like */
